*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/anddown/build
.idea/caches/build_file_checksums.ser
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.log
*.properties
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/caches/build_file_checksums.ser
anddown/build/generated/source/buildConfig/release/com/commonsware/cwac/anddown/BuildConfig.java
anddown/build/intermediates/cmake/release/obj/arm64-v8a/libanddown.so
anddown/build/intermediates/cmake/release/obj/armeabi-v7a/libanddown.so
anddown/build/intermediates/cmake/release/obj/x86/libanddown.so
anddown/build/intermediates/cmake/release/obj/x86_64/libanddown.so
anddown/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
anddown/build/intermediates/incremental/mergeReleaseShaders/merger.xml
anddown/build/intermediates/incremental/mergeReleaseShaders/merger.xml
anddown/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
anddown/build/intermediates/incremental/packageReleaseAssets/merger.xml
anddown/build/intermediates/incremental/packageReleaseResources/merger.xml
anddown/build/intermediates/incremental/release-mergeJniLibs/merge-state
anddown/build/intermediates/intermediate-jars/release/classes.jar
anddown/build/intermediates/intermediate-jars/release/jni/arm64-v8a/libanddown.so
anddown/build/intermediates/intermediate-jars/release/jni/armeabi-v7a/libanddown.so
anddown/build/intermediates/intermediate-jars/release/jni/x86/libanddown.so
anddown/build/intermediates/intermediate-jars/release/jni/x86_64/libanddown.so
anddown/build/intermediates/intermediate-jars/release/res.jar
anddown/build/intermediates/res/symbol-table-with-package/release/package-aware-r.txt
anddown/build/intermediates/symbols/release/R.txt
anddown/build/intermediates/transforms/mergeJniLibs/release/0/lib/arm64-v8a/libanddown.so
anddown/build/intermediates/transforms/mergeJniLibs/release/0/lib/armeabi-v7a/libanddown.so
anddown/build/intermediates/transforms/mergeJniLibs/release/0/lib/x86/libanddown.so
anddown/build/intermediates/transforms/mergeJniLibs/release/0/lib/x86_64/libanddown.so
anddown/build/intermediates/transforms/mergeJniLibs/release/__content__.json
anddown/build/intermediates/transforms/stripDebugSymbol/debug/__content__.json
anddown/build/intermediates/transforms/stripDebugSymbol/release/0/lib/arm64-v8a/libanddown.so
anddown/build/intermediates/transforms/stripDebugSymbol/release/0/lib/armeabi-v7a/libanddown.so
anddown/build/intermediates/transforms/stripDebugSymbol/release/0/lib/x86/libanddown.so
anddown/build/intermediates/transforms/stripDebugSymbol/release/0/lib/x86_64/libanddown.so
anddown/build/intermediates/transforms/stripDebugSymbol/release/__content__.json
anddown/build/outputs/logs/manifest-merger-release-report.txt
*.ser
anddown/build/intermediates/incremental/debug-mergeJniLibs/merge-state
anddown/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
