*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/anddown/build
.idea/caches/build_file_checksums.ser
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.log
*.properties
