*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/anddown/build
.idea/caches/build_file_checksums.ser
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.log
*.properties
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/caches/build_file_checksums.ser
anddown/build/generated/source/buildConfig/release/com/commonsware/cwac/anddown/BuildConfig.java
anddown/build/intermediates/cmake/release/obj/arm64-v8a/libanddown.so
anddown/build/intermediates/cmake/release/obj/armeabi-v7a/libanddown.so
anddown/build/intermediates/cmake/release/obj/x86/libanddown.so
anddown/build/intermediates/cmake/release/obj/x86_64/libanddown.so
anddown/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
anddown/build/intermediates/incremental/mergeReleaseShaders/merger.xml
anddown/build/intermediates/incremental/mergeReleaseShaders/merger.xml
anddown/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
anddown/build/intermediates/incremental/packageReleaseAssets/merger.xml
anddown/build/intermediates/incremental/packageReleaseResources/merger.xml
anddown/build/intermediates/incremental/release-mergeJniLibs/merge-state
anddown/build/intermediates/intermediate-jars/release/classes.jar
anddown/build/intermediates/intermediate-jars/release/jni/arm64-v8a/libanddown.so
anddown/build/intermediates/intermediate-jars/release/jni/armeabi-v7a/libanddown.so
anddown/build/intermediates/intermediate-jars/release/jni/x86/libanddown.so
anddown/build/intermediates/intermediate-jars/release/jni/x86_64/libanddown.so
anddown/build/intermediates/intermediate-jars/release/res.jar
anddown/build/intermediates/res/symbol-table-with-package/release/package-aware-r.txt
anddown/build/intermediates/symbols/release/R.txt
anddown/build/intermediates/transforms/mergeJniLibs/release/0/lib/arm64-v8a/libanddown.so
anddown/build/intermediates/transforms/mergeJniLibs/release/0/lib/armeabi-v7a/libanddown.so
anddown/build/intermediates/transforms/mergeJniLibs/release/0/lib/x86/libanddown.so
anddown/build/intermediates/transforms/mergeJniLibs/release/0/lib/x86_64/libanddown.so
anddown/build/intermediates/transforms/mergeJniLibs/release/__content__.json
anddown/build/intermediates/transforms/stripDebugSymbol/debug/__content__.json
anddown/build/intermediates/transforms/stripDebugSymbol/release/0/lib/arm64-v8a/libanddown.so
anddown/build/intermediates/transforms/stripDebugSymbol/release/0/lib/armeabi-v7a/libanddown.so
anddown/build/intermediates/transforms/stripDebugSymbol/release/0/lib/x86/libanddown.so
anddown/build/intermediates/transforms/stripDebugSymbol/release/0/lib/x86_64/libanddown.so
anddown/build/intermediates/transforms/stripDebugSymbol/release/__content__.json
anddown/build/outputs/logs/manifest-merger-release-report.txt
*.ser
anddown/build/intermediates/incremental/debug-mergeJniLibs/merge-state
anddown/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
.idea/caches/build_file_checksums.ser
anddown/build/intermediates/incremental/debug-mergeJniLibs/merge-state
anddown/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
app/release/output.json
*.ser
*.ser
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
app/release/output.json
anddown/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
.idea/caches/build_file_checksums.ser


*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store

/captures
.externalNativeBuild

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# built native files (uncomment if you build your own)
# *.o
# *.so

# generated files
bin/
gen/

# Ignore gradle files

/*/build/

# Local configuration file (sdk path, etc)


# Proguard folder generated by Eclipse
proguard/

# Eclipse Metadata
.metadata/


# Intellij IDEA (see https://intellij-support.jetbrains.com/entries/23393067)
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/libraries/
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml



.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
build/
hs_err_pid13244.log
replay_pid13244.log
.idea/assetWizardSettings.xml

.idea/caches/build_file_checksums.ser
anddown/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
